*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: var(--color-bg);
}
:root{
    --color-white:#fff;
    --color-text:rgb(28, 28, 28);
    --color-hover:rgb(184, 184, 184);
    --color-bg:rgb(250, 250, 250);
    --color-btn-bg:rgb(226, 226, 226);
    --color-text-p:rgb(94, 94, 94);;
    --color-btn: rgb(65, 65, 255);    
    --color-bg1:rgb(244, 244, 255);  
    --color-dark:rgb(45, 45, 45);
}
nav{
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

/* // supoort  */
.support-btn{
    position:fixed;
    z-index: 11;
    bottom: 2%;
    left: 2.5%;
}
.support-btn a{
    background: var(--color-dark);
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
}
.support-btn a{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.support-btn a i{
    font-size: 1.5rem;
}

section{
    margin-top: 5rem;
}
.window-scroll{
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .nav-left a{
    color: black;
    font-weight: 500;
    font-size: 2rem;
}
.container .nav-mid ul li{
    font-size: 1.1rem;
    position: relative;
}
.container .nav-mid ul li:hover{
    cursor: pointer;
    color: var(--color-hover);

}



.container .nav-mid ul{
    display: flex;
    gap: 2rem;
}
.container .nav-right ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.container .nav-right ul li:hover{
    cursor: pointer;

}
.li-t{
    display: flex;
}
.li-t i{
    font-size: 1.4rem;
    margin-left: 0.1rem;
}
.li-tt{
    display: flex;
}
.li-tt i{
    font-size: 1.4rem;
    margin-left: 0.1rem;
}

/* // nav drop down  */
.drop{
  
    display: none;
}
.show-drop{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vw;
    backdrop-filter: brightness(50%);
}
.container-drop{
    margin-top: 1rem;
    background: var(--color-white);
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 1rem;
}
.drops{
    display: flex;
    gap: 1rem;
}
.dr-txt h1{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}
.dr-txt p{
    font-size: 0.9rem;
    color: var(--color-text-p);
}
.drops img{
    width: 7rem;
    height: 5rem;   
}
.dr-1{
    background: var(--color);
}

.lan-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-btn-bg);
    padding: 0.6rem 0.8rem;
    border-radius: 3rem;
    gap: 0.3rem;
}
.lan-btn i{
    font-size: 1rem;
    margin-top: 0.1rem;
    font-weight: 300;
    color: var(--color-text-p);
}
.lan-btn span{
    font-size: 0.8rem;
    font-weight: 500;
}
.nav-btn{
    background:var(--color-btn);
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    color: var(--color-white);
    font-weight: 600;
    border: 1px solid var(--color-text-p);
    transition: ease .5s;
}
.nav-btn:hover{
    background: var(--color-white);
    color: var(--color-text);
}
/* //section head  */

section.head{
    margin-top:6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background: linear-gradient(to top,rgb(255, 241, 244),var(--color-bg));
    overflow: hidden;
    position: relative;
}
.chf{
    position: absolute;
    right: 42%;
    bottom: 10%;
    background: var(--color-dark);
    color: var(--color-white);
    padding: 1rem;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    font-weight: 500;
}
.txt-swis{
    position: absolute;
    bottom: 5%;
    right: 3%;
    color: var(--color-dark);
    font-size: 1.6rem;
}
.chf span{
    font-size: 1.5rem;
    margin: 0.3rem 0rem;

}
section.head .container-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    /* gap: 10rem; */
    /* background: red; */
}
.left-head{
    margin: 0 auto;
    margin-top: -5rem;
}
.left-head p{
    color: var(--color-text-p);
    margin: 1rem 0rem;
    font-size: 1.3rem;
}
.left-head h1{
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.3;
}
.rate{
    margin-top: 5rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background: var(--color-white);
    /* border: 1px solid var(--color-hover); */
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
    border-radius: 3rem;
    width: 50%;
    justify-content: center;
    padding: 0.5rem 0rem;
}
.rate span{
    font-size: 1rem;
    font-weight: bolder;
    color: var(--color-text-p);
}
.stars img{
    width: 1.3rem;
}
.right-head{
    margin: 0 auto;
}
.right-head img{
    width: 100%;
}

/* // treat  */
section.treatment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}
.container-treat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
}
.treat-head{
    width: 70%;
    margin-bottom: 3rem;
}
.treat-head h1{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.treat-head p{
    color: var(--color-text-p);
    font-size: 1.1rem;
    line-height: 1.6;
}
.treat-card{
    display: flex;
}
.card{
    color: var(--color-text);
    padding: 1rem;
    width: 28rem;
    height: 30rem;
    margin: 1rem;
}
.card h1{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom:1rem;
}
.card p{
    color: var(--color-text-p);
    margin-bottom: 5rem;
    font-size: 1.1rem;
}
.card:nth-child(1){
    background: rgb(248, 229, 246);
}
.card:nth-child(2){
    background: rgb(207, 218, 237);
}
.card h2{
    margin-bottom: 2rem;
    font-weight: 500;
}

/* // benefit  */


section.benefit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-benefit{
    /* background: red; */
    width: 80%;
}
.container-benefit h3{
    color: var(--color-btn);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.container-benefit h1{
    color: var(--color-text);
    font-size: 2.2rem;
    font-weight: 500;
}
.reasons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
}
.reason{
    width: 70%;
}
.reason h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-hover);
    font-weight:100;
}
.reason h2{
    color: var(--color-text);
    font-size: 1.1rem;
}
.reason p{
    color: var(--color-text-p);
    line-height: 1.7;
    font-size: 1rem;
}

/* //works  */

section.works{
    /* display: flex; */
    flex-direction: column;
}
section.works .work-img{
    width: 100%;
    margin-bottom: 5rem;
}
.container-work h2{
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.container-work h1{
    font-size: 2.2rem;
}
.work-contain{
    gap: 1.5rem;
}
.work img{
    width: 100%;
    margin-bottom: 2rem;
}
.work-contain .work h2{
    color: var(--color-text);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.work p{
    color: var(--color-text-p);
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
}
.work a{
    color: var(--color-btn);
    text-decoration: underline;
    font-size: 1.1rem;
}
.container-work{
    width: 80%;
}
.container-work h2{
    font-size: 1.1rem;
    color: var(--color-btn);
}

/* //experience  */
section.experience{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
section.experience h3{
    color: var(--color-btn);
    font-weight: 500;
    margin-bottom: 0.5rem;
}
section.experience h1{
    color: var(--color-text);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
section.experience h1 span{
    color: var(--color-text);
    font-weight: 500;
}
.container-experience{
    width: 80%;
    height: 80%;
}
.swiper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}
.swiper-slide img{
    width: 100%;
}
section.experience a{
    margin-top: -5rem;
} 
.swiper-slide{
    position: relative;
}
.swiper-btn{
    position: absolute;
    bottom: 10%;
    left: 35%;
}
.swiper-inf{
    position: absolute;
    top: 10%;
    right: 10%;
}
.swiper-inf a{
    background: var(--color-text-p);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    color: var(--color-hover);
    font-weight: 600;
}
.swiper-btn a{
    background: var(--color-white);
    color: var(--color-text);
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    font-weight:600;
}


/* //gaurantee  */

section.gaurantee{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--color-bg1);
    margin-bottom: 8rem;
}
.container-gaur{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.gaur img{
    width: 50rem;
}
.gaur{
    position: relative;
}
.gaur .img-cl{
    position: absolute;
    top: 38%;
    left: 39%;
    padding: 0.7rem 0.3rem;
    background: black;
    border-radius: 2rem;
}
.gaur .img-cl a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gaur .img-cl img{
    width: 85%;
}
.gaur h1{
    font-size: 2.2rem;
    color: var(--color-text);
}
.gaur p{
    color: var(--color-text-p);
    margin: 2rem 0rem;
    line-height: 1.7;
    width: 85%;
}
.gaur-btn{
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: var(--color-text);
    border: 1px solid var(--color-text-p);
    border-radius: 3rem;
    font-weight: 600;
    transition: .5s;
}
.gaur-btn:hover{
    background: var(--color-btn);
    color: var(--color-white);

}

/* apponint */

    section.appoint{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-appoint{
        width: 35%;
        text-align: center;
    }
    .container-appoint h1{
        font-size: 2.2rem;
        margin-bottom: 1rem;
        line-height: 1.4;
        font-weight: 500;
        color: var(--color-text);
    }
    .container-appoint p{
        font-size: 1.1rem;
        color: var(--color-text-p);
        margin-bottom: 4rem;
    }
    .app-btn{
        font-size: 0.9rem;
        font-weight: 500;
    }
/* // faqs  */

section.faqs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-faqs{
    width: 85%;
}
.faqs{
    margin-bottom: 1rem;
}
.faqs-head{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 50%;
}
.faqs-head i{
    margin-right: 0.5rem;
    /* cursor: pointer; */
}
.faqs-head h1{
    font-size: 1.2rem;
    color: var(--color-text);
}
.faqs-p{
    height: 0rem;
    overflow: hidden;
    transition: ease .6s;
}
.show-faq{
    height: 10rem;
}
.faqs-p p{
    line-height: 1.5;
    color: var(--color-text-p);
}

/* footer */
footer{
    border-top: 1px solid rgb(222, 222, 222);
    width: 100%;
    height: 25rem;
    background: var(--color-bg);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.container-footer{
    margin-top: 3rem;
    width: 95%;
    /* display: flex; */
}
.foot{
    display: grid;
    grid-template-columns: 20% 15% 15% 25% 25%;
    gap: 0rem;
}
.foot1:nth-child(5) li{
    color: var(--color-text-p);
    width: 95%;
}
.foot1:nth-child(5) li a{
    color: var(--color-text-p);
    text-decoration: underline;
}
.foot1:nth-child(5) .lan-btn{
    margin-top: 1rem;
    width: 35%;
}
.foot1:nth-child(1) h1{
    font-weight: 500;
    font-size: 2rem;
}
.foot1 h1{
    color: var(--color-dark);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.foot1 ul li{
    margin-bottom: 1rem;
}
.foot1 ul li a{
    color: var(--color-text-p);
    font-weight: 400;
}
.foot1 ul li a:hover{
    text-decoration: underline;
}

.bottom-foot{
    border-top: 1px solid rgb(222, 222, 222);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-bottom{
    width: 95%;
}
.foo{
    display: flex;
    justify-content: space-between;
}
.foo1 ul{
    display: flex;
    gap: 2rem; 
}
.foo1:nth-child(2) a{
    margin: 0rem 0.5rem;
    color: var(--color-text-p);
    background: var(--color-btn-bg);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
}
.foo1 ul li a{
    color: var(--color-dark);
}
.foo1 ul li a:hover{
    color: var(--color-text-p);
    text-decoration: underline;
}