*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: var(--color-bg);
}
:root{
    --color-white:#fff;
    --color-text:rgb(28, 28, 28);
    --color-hover:rgb(184, 184, 184);
    --color-bg:rgb(250, 250, 250);
    --color-btn-bg:rgb(226, 226, 226);
    --color-text-p:rgb(94, 94, 94);;
    --color-btn: rgb(65, 65, 255);    
    --color-bg1:rgb(244, 244, 255);  
    --color-dark:rgb(45, 45, 45);
    --color-blue:rgb(207, 218, 237);
    
}
nav{
    position: sticky;
    top: 0;
    height: 5rem;
    width: 100%;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    
}

.nav-mid-right{
    display: none;
}
/* // supoort  */
.support-btn{
    position:fixed;
    z-index: 11;
    bottom: 2%;
    left: 2.5%;
}
.support-btn a{
    background: var(--color-dark);
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
}
.support-btn a{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.support-btn a i{
    font-size: 1.5rem;
}

section{
    margin-top: 5rem;
    overflow: hidden;
}
.window-scroll{
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .nav-left a{
    color: black;
    font-weight: 500;
    font-size: 2rem;
}
.container .nav-mid ul li{
    font-size: 1.1rem;
    position: relative;
}
.container .nav-mid ul li:hover{
    cursor: pointer;
    color: var(--color-hover);

}
.container .nav-mid ul{
    display: flex;
    gap: 2rem;
}
.container .nav-right ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.container .nav-right ul li:hover{
    cursor: pointer;
}
.li-t{
    display: flex;
}
.li-t i{
    font-size: 1.4rem;
    margin-left: 0.1rem;
}
.li-tt{
    display: flex;
}
.li-tt i{
    font-size: 1.4rem;
    margin-left: 0.1rem;
}
/* // nav drop down  */
.drop{
  
    display: none;
}
.show-drop::before{
    content: '';
    width: 200vw;
    height: 100rem;
    position: absolute;
    top: 0;
    left: -150%;
    backdrop-filter: brightness(50%);
    margin-top: -0.9rem;
}
.show-drop{
    display: block;
    position: absolute;
    top: 0;
    left: -50%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
    height: 25rem;
}
.container-drop{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    background: var(--color-white);
    border-radius: 1rem;
}
.drops{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding:1rem;
}
.drops:hover{
    background: rgb(243, 247, 255);
    border-radius: 1rem;
}
.img-box{
    padding: 1rem 0rem;
}

.dro:nth-child(1) .img-box{
    background: rgb(248, 229, 246);
}
.dro:nth-child(2) .img-box{
    background: rgb(12, 17, 110);
}
.dro:nth-child(3) .img-box{
    background: rgb(207, 218, 237);
}


.dr-txt h1{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}
.dr-txt p{
    font-size: 0.9rem;
    color: var(--color-text-p);
}
.drops img{
    width: 7rem;
    height: 5rem;   
}
.dr-1{
    background: var(--color);
}
.more-d{
    position: relative;
}
 /*  more drop */
.nav-mid-right{
    display: none;
}
.drop-more1{
    display: none;  
}
.more-container{
    background: var(--color-white);
    width: 10rem;
}
.li-tt{
    display: block;
}
 .drop-more-show::before{
    content: '';
    width: 200rem;
    height: 100rem;
    position: absolute;
    top: 0;
    left: -100rem;
    backdrop-filter: brightness(50%);
    margin-top: -1.8rem;
    z-index: -1;
} 
.drop-more-show{
    display: block;
    position: absolute;
    top: 0;
    margin-top: 5rem;
}   
.drop-ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.drop-ul li{
    background: var(--color-white);
    margin: -1rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
}
.drop-ul li a{
    color: var(--color-text);
}
.drop-ul li:hover{
    background: rgb(243, 247, 255);
}
.drop-ul li:hover a{
    color: var(--color-text-p);
}
.mob-lan{
    display: none;
}
.lan-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-btn-bg);
    padding: 0.6rem 0.8rem;
    border-radius: 3rem;
    gap: 0.3rem;
    cursor: pointer;
}
.lan-btn i{
    font-size: 1rem;
    margin-top: 0.1rem;
    font-weight: 300;
    color: var(--color-text-p);
}
.lan-btn span{
    font-size: 0.8rem;
    font-weight: 500;
}
.nav-btn{
    background:var(--color-btn);
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    color: var(--color-white);
    font-weight: 600;
    border: 1px solid var(--color-text-p);
    transition: ease .5s;
}
.nav-btn:hover{
    background: var(--color-white);
    color: var(--color-text);
}
.mob-lann{
    display: none;
}
/* //section head  */

section.head{
    margin-top:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,rgb(255, 241, 244),var(--color-bg));
    overflow: hidden;
    position: relative;
}
.chf{
    position: absolute;
    right: 42%;
    bottom: 10%;
    background: var(--color-dark);
    color: var(--color-white);
    padding: 1rem;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    font-weight: 500;
    z-index: 1;
    transform: translateX(-200%);
}
.txt-swis{
    position: absolute;
    bottom: 5%;
    right: 3%;
    color: var(--color-dark);
    font-size: 1.6rem;
}
.chf span{
    font-size: 1.5rem;
    margin: 0.3rem 0rem;

}
section.head .container-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.animu{
    opacity: 0;
    transform: translateY(-100%);
    transition: 1s;
}
.anim-show1{
    opacity: 1;
    transform: translateY(0%);
}


.left-head{
    margin: 0 auto;
    margin-top: -5rem;
}
.left-head p{
    color: var(--color-text-p);
    margin: 1rem 0rem;
    font-size: 1.3rem;
}
.left-head h1{
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.3;
}
.rate{
    margin-top: 5rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background: var(--color-white);
    /* border: 1px solid var(--color-hover); */
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
    border-radius: 3rem;
    width: 50%;
    justify-content: center;
    padding: 0.5rem 0rem;
}
.rate span{
    font-size: 1rem;
    font-weight: bolder;
    color: var(--color-text-p);
}
.stars img{
    width: 1.3rem;
}
.right-head{
    margin: 0 auto;
}
.right-head img{
    width: 100%;
}

/* // treat  */
section.treatment{
    display: flex;
     justify-content: center; 
     align-items: center; 
    margin-top: 3rem; 
}
.container-treat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 80%; */
    width: 85%;
}
.treat-head{
    width: 70%;
    margin-bottom: 3rem;
}
.treat-head h1{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.treat-head p{
    color: var(--color-text-p);
    font-size: 1.1rem;
    line-height: 1.6;
}
.treat-card{
    display: flex;
    /* width: 80%; */
    width: 80%;
    align-items: center;
}
.card{
    color: var(--color-text);
    padding: 1rem;
    /* width: 28rem; */
    width: 100%;
    height: 30rem;
    margin: 1rem;
}
.card h1{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom:1rem;
}
.card p{
    color: var(--color-text-p);
    margin-bottom: 5rem;
    font-size: 1.1rem;
}
.card:nth-child(1){
    background: rgb(248, 229, 246);
}
.card:nth-child(2){
    background: rgb(207, 218, 237);
}
.card h2{
    margin-bottom: 2rem;
    font-weight: 500;
}

/* // benefit  */


section.benefit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-benefit{
    /* background: red; */
    width: 80%;
}
.container-benefit h3{
    color: var(--color-btn);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.container-benefit h1{
    color: var(--color-text);
    font-size: 2.2rem;
    font-weight: 500;
}
.reasons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
}
.animl{
    opacity: 0;
    transform: translateX(-150%);
    transition: 1s ease;
}
.animl.anim-show{
    opacity: 1;
    transform: translateX(0%);
}
.reason{
    width: 70%;
}
.reason h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-hover);
    font-weight:100;
}
.reason h2{
    color: var(--color-text);
    font-size: 1.1rem;
}
.reason p{
    color: var(--color-text-p);
    line-height: 1.7;
    font-size: 1rem;
}

/* //works  */

section.works{
    /* display: flex; */
    flex-direction: column;
}
section.works .work-img{
    width: 100%;
    margin-bottom: 5rem;
}
.container-work h2{
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.container-work h1{
    font-size: 2.2rem;
}
.work-contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}
.animr{
    opacity: 0;
    transform: translateX(200%);
    transition: 1s ease;
}
.anim-show2{
    opacity: 1;
    transform: translateX(0%);
}
.work img{
    width: 100%;
    margin-bottom: 2rem;
}
.work-contain .work h2{
    color: var(--color-text);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.work p{
    color: var(--color-text-p);
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
}
.work a{
    color: var(--color-btn);
    text-decoration: underline;
    font-size: 1.1rem;
}
.container-work{
    width: 80%;
}
.container-work h2{
    font-size: 1.1rem;
    color: var(--color-btn);
}


/* //gaurantee  */

section.gaurantee{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--color-bg1);
    margin-bottom: 8rem;
}
.container-gaur{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.gaur img{
    width: 100%;
}
.gaur{
    position: relative;
}
.gaur .img-cl{
    position: absolute;
    top: 38%;
    left: 39%;
    padding: 0.7rem 0.3rem;
    background: black;
    border-radius: 2rem;
}
.gaur .img-cl a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gaur .img-cl img{
    width: 85%;
}
.gaur h1{
    font-size: 2.2rem;
    color: var(--color-text);
}
.gaur p{
    color: var(--color-text-p);
    margin: 2rem 0rem;
    line-height: 1.7;
    width: 85%;
}
.gaur-btn{
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: var(--color-text);
    border: 1px solid var(--color-text-p);
    border-radius: 3rem;
    font-weight: 600;
    transition: .5s;
}
.gaur-btn:hover{
    background: var(--color-btn);
    color: var(--color-white);

}

/* apponint */

    section.appoint{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .container-appoint{
        width: 35%;
        text-align: center;
    }
    .container-appoint h1{
        font-size: 2.2rem;
        margin-bottom: 1rem;
        line-height: 1.4;
        font-weight: 500;
        color: var(--color-text);
    }
    .container-appoint p{
        font-size: 1.1rem;
        color: var(--color-text-p);
        margin-bottom: 4rem;
    }
    .app-btn{
        font-size: 0.9rem;
        font-weight: 500;
    }
/* // faqs  */

section.faqs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-faqs{
    width: 85%;
}
.faqs{
    margin-bottom: 2rem;
}
.faqs-head{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 60%;
}
.faqs-head i{
    margin-right: 0.5rem;
}
.faqs-head h1{
    font-size: 1.2rem;
    color: var(--color-text);
}
.faqs-p{
    display: none;
    overflow: hidden;
    transition: ease .6s;
}
.show-faq{
    display: block;
}
.faqs-p p{
    line-height: 1.5;
    color: var(--color-text-p);
}
/* //testimonial  */


section.testimonial__container{
    overflow: hidden;
    position: relative;
    display: flex;
    padding-top: 8rem;
    width: 90%;
    flex-direction: column;
    margin: 3rem auto;
    margin-bottom: 5rem;
}
section.mySwiper h3{
    color: var(--color-btn);
    font-size: 1.1rem;
    font-weight: 500;
}
section.mySwiper h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 5rem;
}
section.mySwiper h1 span{
    font-weight: 400;
}
.swiper-wrapper{
    padding-bottom: 5rem;
}
.testimonial{
    padding-top: 2rem;
}
.avatar img{
    width: 100%;
}
.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;    
    border: 1rem solid var(--color-blue);
}
.testimonial__info{
    text-align: center;
}
.testimonial__body{
    background: var(--color-blue);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
.testimonial__body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg,transparent,var(--color-blue),var(--color-blue),var(--color-blue));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 46%;
    top: -1.5rem;
    transform: rotate(45deg);
}


/* footer */
footer{
    border-top: 1px solid rgb(222, 222, 222);
    width: 100%;
    background: var(--color-bg);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 4rem;
}
.container-footer{
    margin-top: 3rem;
    width: 95%;
    /* display: flex; */
}
.foot{
    display: grid;
    grid-template-columns: 20% 15% 15% 25% 25%;
    gap: 0rem;
}
.foot1:nth-child(5) li{
    color: var(--color-text-p);
    width: 95%;
}
.foot1:nth-child(5) li a{
    color: var(--color-text-p);
    text-decoration: underline;
}
.foot1:nth-child(5) .lan-btn{
    margin-top: 1rem;
    width: 35%;
}
.foot1:nth-child(1) h1{
    font-weight: 500;
    font-size: 2rem;
}
.foot1 h1{
    color: var(--color-dark);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.foot1 ul li{
    margin-bottom: 1rem;
}
.foot1 ul li a{
    color: var(--color-text-p);
    font-weight: 400;
}
.foot1 ul li a:hover{
    text-decoration: underline;
}

.bottom-foot{
    border-top: 1px solid rgb(222, 222, 222);
    width: 100%;
    /* height: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.container-bottom{
    width: 95%;
}
.foo{
    display: flex;
    justify-content: space-between;
}
.foo1 ul{
    display: flex;
    gap: 2rem; 
}
.foo1:nth-child(2) a{
    margin: 0rem 0.5rem;
    color: var(--color-text-p);
    background: var(--color-btn-bg);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
}
.foo1 ul li a{
    color: var(--color-dark);
}
.foo1 ul li a:hover{
    color: var(--color-text-p);
    text-decoration: underline;
}



@media screen and  (max-width:600px){
   
    nav{
        height: 4rem;
    }
    .container{
        width: 85%;
    }
    .li-tt{
        display: none;
    }
    .show-drop::before{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        backdrop-filter: none;
    }
    .drops{
        gap: 1.5rem;
    }
    .drops img{
        width: 5rem;
        height: 3rem;   
    }
    .show-drop{
        margin: 1rem 0rem;
        position: relative;
        left: 0;
        margin-bottom: -4rem;
    }
    .nav-mid{
        display: none;
    }
    .nav-mid-show{
        display: block;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0%;
        background: var(--color-white);
        padding: 2rem 2rem;
        height: 100vh;
        overflow: scroll;
        padding-bottom: 10rem;
    }
   
    .nav-mid-right{
        margin-left: -1rem;
        margin-top: 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        /* background: red; */
    }
    .nav-mid-right ul{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    .drop-ul li a{
        font-size: 1rem;
        color: var(--color-text-p);
    }
    .drop-ul{
        text-align: left;
    }
    .drop-more{
        display: block;
        margin-top: -1rem;
    }
    .lan-btn{
        display: none;
    }
    .nav-left{
        display:flex;
    }
    .container .nav-left a{
        font-size: 1.5rem;
    }
   
    .mob-lann{
        display: none;
       
    }
    .mob-lann-hide{
        margin-left: 2rem;
        display: block;
        display: flex;
    }
    .mob-lan{
        display: block;
    }
    .desk-lan{
        display: none;
    }
    .nav-desk-right{
        display: none;
    }
    .nav-mid ul{
    
        flex-direction: column;
    }
    .hamburger{
        position: relative;
        margin-top: 0.2rem;
        display: flex;
        align-items: center;
        width:8%;
        cursor: pointer;
        height: 50%;
    }
    .hamburger span{
        background: var(--color-text);
        position: absolute;
        width: 1.8rem;
        height: 0.2rem;
        transition: .5s;
    }
    .hamburger span:nth-child(1){
        transform: translateY(-0.4rem);
        width: 1rem;
    }
    .hamburger span:nth-child(2){
        transform: translateY(0.1rem);
        width: 1.5rem;
    }
    .hamburger span:nth-child(3){
        width: 1.8rem;
        transform: translateY(0.6rem);
    }

    .hamburger.ham span:nth-child(2){
        transform: translateX(-2rem);
        opacity: 0;
    }
    .hamburger.ham span:nth-child(3){
        transform: rotateZ(-45deg);
    }
    .hamburger.ham span:nth-child(1){
        transform: rotateZ(45deg);
        width: 1.8rem;
    }

    .chf{
        display: none;
    }

   
   section.head .container-head{
        grid-template-columns: 1fr;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    }
    section.head{
        margin-top: 3rem;
    }
    .left-head{ 
        margin: 0;
    }
    .left-head h1{
        font-size: 2.2rem;
    }
    .left-head p{
        font-size: 1rem;
    }
    .rate{
        margin: 3rem auto;   
        width: 60%;
    }
    .right-head img{
        width: 100%;
    }

    .treat-card{
        flex-direction: column;
        width: 100%;
    }
    .reasons{
        grid-template-columns: repeat(2,1fr);
    }
    .container-treat{
        width: 85%;
    }
    .treat-head{
        width: 100%;
    }
    .treat-head h1{
        font-size: 1.8rem;
    }
    .treat-head p{
        font-size: 1rem;
    }
    section.treatment{
        margin-top: 5rem;
    }
    .card h1{
        font-size: 1.8rem;
    }
    .card p{
        font-size: 1rem;
    }
    .card h2{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .card img{
        width: 60%;
    }
    
    .container-benefit h1{
        font-size: 1.8rem;
    }
    .reasons{
        gap: 5rem;
    }
    .reason{
        width: 90%;
    }
    .reason h1{
        font-size: 2rem;
    }
    .reason h2{
        font-size: 1.1rem;
    }
    .reason p{
        font-size: 0.9rem;
    }
    .container-work h1{
        font-size: 1.8rem;
    }
    .work-contain .work h2{
        font-size: 1rem;
    }
    .work-contain{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
    .work{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .work img{
        width: 50%;
    }
    section.experience h3{
        font-size: 1rem;
    }
    section.experience h1{
        font-size: 1.8rem;
    }
    .container-experience{
        width: 100%;
        height: 60%;
    }

    .container-gaur{
        flex-direction:column-reverse;
        width: 90%;
    }
    .gaur img{
        width: 100%;
    }
    .gaur .img-cl{
        display: none;
    }
    .gaur h1{
        font-size: 1.8rem;
    }
    .gaur p{
        font-size: 1rem;
        width: 100%;
    }
    .gaur-btn{
        font-size: 0.9rem;
    }
    .container-appoint{
        width: 90%;
    }
    .container-appoint h1{
        font-size: 1.8rem;
    }
    .container-appoint p{
        font-size: 1rem;
    }
    .container-faqs{
        width: 90%;
    }
    .faqs-head{
        width: 100%;
    }
    .foot1 h1{
        margin-bottom: 2rem;
    }

    .container-footer{
        width: 85%;
    }

    .foot{
        grid-template-columns:repeat(1,1fr);
    }
    .foo{
        flex-direction: column;
        gap: 3rem;
    }
    .foo1 ul{
        flex-direction: column;
    }
    .foo1:nth-child(2){
        text-align: center;
    }
    section.mySwiper h3{
        font-size: 1rem;
    }
    section.mySwiper h1{
        font-size: 1.8rem;
    }
    .testimonial__body::before{
        left: 44%;
    }


}